.Mariadiv {
   background-color:  steelblue; /*showing that I know how to write comments*/
   size: 10px 
 }
 
 * {
 color: #4169E1;
 }

h1 {
 font-family: Roboto; 
 color: darkblue; 
 padding: 10px; 
 margin: 8px
}
p1 {
 font-size: 20px; 
 color: Tomato
}
input {
 padding: 5px; 
 margin: 10px;
 background-color: #FFFAFA;
}

#Maria, #multicolor, #number {
  width: 80px;
  height:60px;
}
.best {
 background-color: white;
 border-radius: 2px;
 padding: 10px;
}

#grel, #coverurish, #bnakan {
  display: none;
}