
div.item {
	min-width: 200px;
	width: 35%;
	height: 430px;
	background-color: #87CEEB;
  float: left;
	margin: 15px;
	padding: 15px;
	position: relative;
  border: 2px solid grey;
  border-radius: 10px;
}

#photoDataContainer div.item {
  background-color: #BDB76B;
}

#bookDataContainer div.item {
  background-color: #F4A460 ;
}

#photoDataContainer {
  display: none;
}

#bookDataContainer {
  display: none;
}

#otherDataContainer{
  display: none;
}

div.item button {
	position: absolute;
	bottom: 10px;
	right: 10px;
  background-color: #FAEBD7;
}

div.item button.edit {
	right: 70px;
  bottom: 10px;
  background-color: #FAEBD7;
}



