div.item {
  min-width: 200px;
  width: 25%;
  height: 430px;
  background-color: #87CEEB;
  float: left;
  margin: 15px;
  padding: 15px;
  position: relative;
  border: 2px solid grey;
  border-radius: 10px;
}

#photoDataContainer div.item {
  background-color: #BDB76B;
}

#bookDataContainer div.item {
  background-color: #F4A460 ;
}

#photoDataContainer {
  display: none;
}

#bookDataContainer {
  display: none;
}

#otherDataContainer{
  display: none;
}

div.item button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #FAEBD7;
}

div.item button.edit {
  right: 70px;
  bottom: 10px;
  background-color: #FAEBD7;
}

.EditBook {
  background-color: darkgoldenrod;
}

#_id, #AnunAzganun, #InternetHxum, #SiracAparat, #Lusankarich, #Nkarahanum, #UrishNkar, #Nkar, #Oracuyc, #Haytni, #Nastroyka, #AmenOr, #VochAmenOr, #Arajin, #Arxiv, #UrishArxiv {
  width: 130px;
  background-color: blanchedalmond;
  font-size: 15px;
  position: relative;
  margin: 3px;
  padding: 2px;


} 

#NorBan{
  width: 80px;
  height: 30px;
  color:  olive;
  background-color: bisque;
  font-size: 17px;
}

.EditGirq {
  background-color: cornflowerblue;
}

#_id, #anun, #vernagir, #grox, #guyn, #coverurish, #EjiQanak, #Gin, #Gin, #Pox, #bnakan, #Anpetq, #Chapser, #Tpagrox, #Or, #IskakanOr, #Tariq, #grelvalue, #language {
  width: 130px;
  background-color: floralwhite;
  font-size: 15px;
  position: relative;
  margin: 3px;
  padding: 2px;


} 

#NorGirq {
  width: 80px;
  height: 30px;
  color: darkblue;
  background-color:  papayawhip;
  font-size: 17px;
}

#BackButton {
  font-size: 16px;
  color:white;
  background-color: #2F4F4F; 
  width: 100px;
  height: 40px;
  border-radius: 10px;
  position: absolute; 
  right: 15px;
  
  
}

