
div.item {
	min-width: 200px;
	width: 25%;
	height: 430px;
	background-color: #87CEEB;
  float: left;
	margin: 15px;
	padding: 15px;
	position: relative;
  border: 2px solid grey;
  border-radius: 10px;
}

#photoDataContainer div.item {
  background-color: #BDB76B;
}

#bookDataContainer div.item {
  background-color: #F4A460 ;
}

#photoDataContainer {
  display: none;
}

#bookDataContainer {
  display: none;
}

#otherDataContainer{
  display: none;
}

div.item button {
	position: absolute;
	bottom: 10px;
	right: 10px;
  background-color: #FAEBD7;
}

div.item button.edit {
	right: 70px;
  bottom: 10px;
  background-color: #FAEBD7;
}

.EditBook {
  width: 150%;
  height: 300%;
  background-color: #B8860B
}

#_id, #AnunAzganun, #InternetHxum, #SiracAparat, #Lusankarich, #Nkarahanum, #UrishNkar, #Nkar, #Oracuyc, #Haytni, #Nastroyka, #AmenOr, #VochAmenOr, #Arajin, #Arxiv, #UrishArxiv {
  width: 100px;
  height: 15px;
  background-color: blanchedalmond;
  font-size: 15px;


} 

#NorBan{
  width: 80px;
  height: 30px;
  color:  olive;
  background-color: bisque;
  font-size: 15px;
}

